<div>
  <ul *ngFor="let item of inventory; let i = index">
    <li>
      ItemID: <b>{{ item._id }}</b
      >, Item Name: <b>{{ item.itemName }}</b
      >, Item Category <b>{{ item.itemCategory }}</b> , Item Price:
      <b>${{ item.price }}</b
      >, Stock Amount: <b>{{ item.stock }}</b>
      <button mat-button color="warn" (click)="onDelete(item._id)">
        <b>DELETE</b>
      </button>
      <button mat-button color="accent" [routerLink]="['/editInventory', item._id]">UPDATE</button>
    </li>
  </ul>
</div>
